<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
	<Properties>
		<Property name="log-folder">logs</Property>
		<Property name="log-name">stress-test</Property>
		<Property name="debug-level">INFO</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>

		<RollingFile name="rollingFile" fileName="${log-folder}/${log-name}.debug"
		             filePattern="${log-folder}/${log-name}-%d{yyyyMMdd}.debug">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" level="INFO" />
			<AppenderRef ref="rollingFile" level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>
